<%- include('../partials/header.ejs') %>
  <%- include('../partials/navbar.ejs') %>


    <div class="container">

      <a href="/post/create" class="btn btn-primary">Create A New Post</a>
      <a href="/auth/allPost" class="btn btn-primary">All Post</a>
      <a href="/auth/allUser" class="btn btn-primary">All User</a>

    </div>



    <div class="container">
      <table class="table table-success table-striped">
        <tr class="text-center">
          <th>#</th>
          <th>Username</th>
          <th>Active</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
        <% let j=1 %>
          <% for(let i=0;i<users.length;i++){ %>
            <tr class="text-center">
              <td>
                <%= j++ %>
              </td>
              <td>
                <%= users[i].username %>
              </td>
              <td>
                <% if(userStatus.isLoggedIn) {%>
                    On
                <% }else{ %> 
                    Off
                <% } %> 
              </td>
              <td>
                <%= moment(users[i].createdAt) %>
              </td>
              <td>
               
                <!-- Button trigger modal -->
                <button type="button" id="updatebtn" class="btn btn-primary" data-toggle="modal" data-target="#updateStaticBackdrop">
                  Update
                </button>

                <!-- Modal -->
                <div class="modal fade" id="updateStaticBackdrop">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Update User</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <label class="text-start">Username</label>
                       <input type="text" class="form-control" value="<%= users[i].username %>" required>
                       <label>Email</label>
                       <input type="text" class="form-control" disabled value="<%= users[i].email %>">
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <a href="#">
                        <button type="button" class="btn btn-primary">Update</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                

                <!-- Button trigger modal -->
                    <button type="button" id="deletebtn" class="btn btn-danger" data-toggle="modal" data-target="#deleteStaticBackdrop">
                      Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteStaticBackdrop">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteStaticBackdropLabel">Delete User</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body d-flex">
                           <p class="mr-auto text-danger" style="font-size: 15px;">Are you sure delete the user?
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           <a href="#">
                            <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
              </td>
            </tr>
            <% } %>
      </table>
    </div>


    </div>
    </div>
    </div>


    <%- include('../partials/subFooter.ejs') %>
      <%- include('../partials/footer.ejs') %>
      <script src="../../scripts/delete.js"></script>

        </body>

        </html>