<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-body">
                        <div class="my-3">
                            <a href="/post/create" class="btn btn-primary">Create A New Post</a>
                            <a href="/auth/allPost" class="btn btn-primary">All Post</a>
                            <a href="/auth/allUser" class="btn btn-primary">All User</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-body">
                        <h4 class="my-3">Create A New Post</h4>
                        <form action="/post/create" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="title">Enter Your Post Title</label>
                                <input type="text" name="title" id="title"
                                    class="form-control <%= error.title ? 'is-invalid' :''  %>"
                                    value="<%= value.title ? value.title : ''  %>">
                                <div class="invalid-feedback">
                                    <%= error.title %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tiny-mce-post-body">Enter Your Post Body</label>
                                <textarea name="body" id="tiny-mce-post-body"
                                    class="form-control <%= error.body ? 'is-invalid' : '' %>"
                                    value="<%= value.body ? value.body : '' %>"></textarea>
                                <div class="invalid-feedback">
                                    <%= error.body %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tags">Enter Some Tags (Max 10)</label>
                                <input type="text" name="tags" id="tags" placeholder="tag1,tag2,tag3"
                                    class="form-control <%= error.tags ? 'is-invalid' : ''  %>"
                                    value="<%= value.tags ? value.tags : ''%>">
                                <div class="invalid-feedback">
                                    <%= error.tags %>
                                </div>
                            </div>

                            <div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">Upload</span>
                                    <input type="file" name="post-thumbnail"
                                        class="form-control <%= error.thumbnail ? 'is-invalid' : ''  %>" required />
                                </div>

                            </div>
                            <input type="submit" value="Create A New Post" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>





        </div>
        </div>
        </div>

        <%- include('../partials/subFooter.ejs') %>
            <script>
                $('#inputGroupFile').on('change', function (e) {
                    let filename = e.target.files[0].name
                    $(this).next('.custom-file-label').html(filename)
                })
            </script>
            <script src="../../scripts/tinyMCE.js"></script>
            <%- include('../partials/footer.ejs') %>




                </body>

                </html>