<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>


            <% if(post.length > 0) {%> 
                <div class="container">
                    <div class="text-dark text-muted py-2">
                        <span>Search Result - <%= term %>(<%= post.length %>)</span>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <% for(let i=post.length-1; i>=0; i--) {%>
                            <div class="col">
                                <div class="card h-80">
                                    <img src="<%= post[i].thumbnail %> " height="250"
                                        class="card-img-top shadow bg-body rounded" alt="#">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="/auth/singlePage/<%= post[i]._id %>"
                                                class="text-decoration-none text-dark">
                                                <span style="font-size: 16px;" class="shadow-lg rounded text-dark">
                                                    <%= post[i].title.slice(0,32) %>
                                                </span>
                                            </a>
                                        </h5>
                                        <p class="card-text"><a href="/auth/singlePage/<%= post[i]._id %>"
                                                class="text-decoration-underline text-dark">
                                                <span style="font-size: small;">
                                                    <%= post[i].body.replace(/(<([^>]+)>)/ig,'').slice(0,120) %>
                                                </span>
                                            </a> </p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            <%= post[i].author %>
                                        </small> |
                                        <small class="text-muted">
                                            <%= post[i].readTime %>
                                        </small> |
                                        <small class="text-muted">
                                            <%= JSON.stringify(post[i].createdAt).slice(1,12).replace("T", " " ) %>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
            <% } else { %>
                <div class="container">
                    <div class="text-dark text-muted py-2">
                        <span>Search Result - <%= term %>(<%= post.length %>)</span>
                    </div>
                    <p class="text-center" style="font-size: 20px; font-weight: 1000; color: red;">Data Not Found..</p>
                </div>
            <% } %> 
        </div>
        </div>
        </div>

        <%- include('../partials/subFooter.ejs') %>
            <%- include('../partials/footer.ejs') %>

                </body>

                </html>