<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>


                    <div class="container">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
                                <p class="text-muted" style="font-size: small;font-weight: 1000;">
                                <span class="text-start"><img src="../../uploads/default.png" height="20px" class="rounded-circle" alt="userProfileIamge"/> <%= post.author %> </span>
                                </p>
                                <p class="" style="font-size: x-large;font-weight: 1000;"><%= post.title %></p>
                                <p>
                                    <img src="<%= post.thumbnail %>" alt="post image" width="100%" height="350px">
                                </p>
                                <p class="" style="font-size: large;"><%= post.body.replace(/(<([^>]+)>)/ig,'') %> </p>
                                <p>
                                    <span><%= post.readTime %> </span> |
                                    <span><%= post.createdAt %> </span> 
                                </p>                              
                                <p>
                                    <% for(let i=0;i<post.tags.length;i++) {%> 
                                        <button type="button" class="btn btn-primary text-dark disabled"><%= post.tags[i] %></button>
                                    <% } %> 
                                </p>
                            </div>
                            <div class="col-2"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>


<%- include('../partials/subFooter.ejs') %>
<%- include('../partials/footer.ejs') %>

</body>
</html>